asyncio
sys
os
playwright
beautifulsoup4==4.12.3
requests==2.31.0
urllib3==2.2.1
re
unicodedata
typing
httpx==0.27.0
json
python-dotenv==1.0.1
weasyprint==62.0
aiohttp==3.9.5
SQLAlchemy==2.0.30
psycopg2-binary==2.9.9
